.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply font-inter font-semibold;
  color: #121212;
}

.prose h1 {
  font-size: 1.7em;
}

.prose h2 {
  font-size: 1.5em;
}

.prose h3 {
  font-size: 1.3em;
}

.prose p {
  @apply text-hc-gray leading-8;
}

.prose strong {
  color: #121212;
}

.prose-block :is(h1, h2, h3, h4, h5, h6) {
  @apply font-new-order;
}
