.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply font-semibold;
}

.prose h1 {
  font-size: 1.7em;
}

.prose h2 {
  font-size: 1.5em;
}

.prose h3 {
  font-size: 1.3em;
}

.prose a {
  color: #7898FF;
}
